<%- include('partials/header') %>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-text">
                    <h1>Dashboard</h1>
                    <p>Welcome <%= name %></p>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </div>


        </div>
    </div>
</section>

<%- include('partials/footer') %>